header{
   
    border: 2px solid blue;
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pics{
    height: auto;
    width: 200px;
   
}
p{
    text-indent;
}
.bol{
    font-weight: bold;
}

div{
    border: 2px solid blue;
    height: 400px;
    width: 400px;
    margin: 2px;
    padding: 2px;
    word-wrap: break-word;
    

}